<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ destiny.name }}</title>
    {% load static %}
    
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/photo.css" %}" rel="stylesheet">
    <script src="{% static "js/ie-emulation-modes-warning.js" %}"></script>
  </head>

  <body>

  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Культурное достояние МГУ</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/">Поиск</a>
          </li>
          <li>
            <a href="/admin">Администрирование</a>
          </li>
          <li>
            <a href="/logout">Выйти</a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>


    <div class="container">
      {% if not edit %}
      <div class="blog-header">
        <h1 class="blog-title">{{ destiny.name }}</h1>
        <p class="lead blog-description">
          {% if destiny.author %} {{ destiny.author.name }}, {% endif %}
          {% if destiny.object_type.name %} {{ destiny.object_type.name }}, {% endif %}
          {% if destiny.date %} {{ destiny.date }}, {% endif %} 
          {% if destiny.place.name %} {{ destiny.place.name }} {% endif %}
        </p>
      </div>
      {% endif %}
      <div class="row">
        <form action="/item/{{ destiny.id }}/edit/" method="post" enctype="multipart/form-data">
           {% csrf_token %}
        <div class="col-sm-7 blog-main">
           {% for p in photo %}
          <div class="blog-post">
            <img src="/media/{{ p.photo }}" width="100%" class="img-polaroid"> 
            {% comment %}
            {% if edit %}
            <blockquote>
              <p>
                <a href="/item/{{ destiny.id }}/delete_photo/{{ p.id }}" class="btn btn-danger">Удалить</a>
              </p>
            </blockquote> 
            {% endif %}
            {% endcomment %}
          </div>
          <!-- /.blog-post -->
          {% endfor %}
          {% if edit %}
          <div>
            <label class="control-label" for="inputTitle">Фотографии</label>
            <input type="file" class="form-control" id="images" name="images" multiple/>
          </div>
          
          <div>
            <label class="control-label" for="inputTitle">Название</label>
            <input type="text" name="name" value="{{ destiny.name }}" class="form-control search-query">
          </div>
          
          <div class="author-box">
            <label class="control-label" for="inputType">Автор</label>
            <select name="author" class="form-control btn dropdown-toggle btn-block">
              {% if destiny.author %}
              <option value="">Любой</option>
              {% else %}
              <option selected="selected" value="">Любой</option>
              {% endif %} 
              {% for a in authors %} 
              {% if a.name == destiny.author.name %}
              <option selected="selected" value="{{ a.name }}">{{ a.name }}</option>
              {% else %}
              <option value="{{ a.name }}">{{ a.name }}</option>
              {% endif %} 
              {% endfor %}
            </select>
          </div>
          <button type="button" class="btn btn-default btn-xs author-add">+</button>
          
          <div>
            <label class="control-label" for="inputType">Информация</label>
            <textarea class="form-control search-query" rows="10" name="text" id="text">{{ destiny.info }}</textarea>
          </div>
          
          <div class="type-box">
            <label class="control-label" for="inputType">Тип</label>
            <select name="object_type" class="form-control btn dropdown-toggle btn-block">
              {% if destiny.object_type.name %}
              <option value="">Любой</option>
              {% else %}
              <option selected="selected" value="">Любой</option>
              {% endif %} 
              {% for t in types %} 
              {% if t.name == destiny.object_type.name %}
              <option selected="selected" value="{{ t.name }}">{{ t.name }}</option>
              {% else %}
              <option value="{{ t.name }}">{{ t.name }}</option>
              {% endif %} 
              {% endfor %}
            </select>  
          </div>
          <button type="button" class="btn btn-default btn-xs type-add">+</button>

          <div>
            <label class="control-label" for="inputYear">Год</label>
            <input type="text" name="date" value="{{ destiny.date }}" class="form-control search-query">
          </div>

          <div>
            <label class="control-label" for="inputTabular">Инвентарный номер</label>
            <input type="text" name="tabular" value="{{ destiny.tabular|default:"" }}" class="form-control search-query">
          </div>
          
          <div class="place-box">
            <label class="control-label" for="inputType">Подразделение</label>
            <select name="place" class="form-control btn dropdown-toggle btn-block">
              {% if destiny.place.name %}
              <option value="">Любое</option>
              {% else %}
              <option selected="selected" value="">Любое</option>
              {% endif %} 
              {% for p in places %} 
              {% if p.name == destiny.place.name %}
              <option selected="selected" value="{{ p.name }}">{{ p.name }}</option>
              {% else %}
              <option value="{{ p.name }}">{{ p.name }}</option>
              {% endif %} 
              {% endfor %}
            </select>
          </div>
          <button type="button" class="btn btn-default btn-xs place-add">+</button>
          <br>
          <br>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="inventorized" {% if destiny.inventorized %} checked {% endif %}>
            <label class="form-check-label" for="exampleCheck1">Инвентаризация выполнена</label>
          </div>
          {% endif %}
          <br>
          <br>
          {% if not edit %}
          <blockquote>
            <p>
              {{ destiny.text|safe }}
            </p>
          </blockquote>
          {% endif %}

        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          {% if is_admin %}
          {% if edit %}
          <input type="submit" class="btn btn-success btn-block" value="Сохранить" />
         {% comment %}<a href="/item/{{ destiny.id }}/delete_object" class="btn btn-danger btn-block">Удалить</a> {% endcomment %}

          {% else %}
          <a href="?edit=1" class="btn btn-primary btn-block">Редактировать</a>
          {% endif %}
          {% if is_admin and destiny.inventorized %} 
          <br>
          <div class="alert alert-success">
            <center>
              <strong>Инвенторизация выполнена</strong>
            </center>
          </div>
          {% endif %}
          <br>
          {% endif %}
          {% if not edit %} 
          <div class="sidebar-module sidebar-module-inset">
            {% if destiny.author %} <h5><strong>Автор: </strong>{{ destiny.author.name }}</h5> {% endif %}
            {% if destiny.object_type.name %}<h5><strong>Тип: </strong>{{ destiny.object_type.name }}</h5> {% endif %}
            {% if destiny.date %} <h5><strong>Год: </strong>{{ destiny.date }}</h5> {% endif %}
            {% if destiny.tabular %} <h5><strong>Инв. Номер: </strong>{{ destiny.tabular }}</h5> {% endif %}
          </div>
          {% endif %}
        </div><!-- /.blog-sidebar -->
        </form>
      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>
        <a href="#">Наверх</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.main.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
    <script>
        $(document).ready(function () {
          $(".author-add").click(function () {
            $(".author-box").html('<label class="control-label" for="inputType">Автор</label>\n<input type="text" name="author" class="form-control search-query">')
          });
          $(".type-add").click(function () {
            $(".type-box").html('<label class="control-label" for="inputType">Тип</label>\n<input type="text" name="object_type" class="form-control search-query">')
          });
          $(".place-add").click(function () {
            $(".place-box").html('<label class="control-label" for="inputType">Подразделение</label>\n<input type="text" name="place" class="form-control search-query">')
          });
        });
    </script>
  </body>
</html>
